# PySpark Joins-
        By Aishwarya Raut


PySpark Join is used to combine two DF and by chaining these you can join multiple DF.

In [1]:
import pyspark
from pyspark.sql import SparkSession

spark= SparkSession.builder.appName("PySpark").getOrCreate()

file_path_1="C:/Users/pcc/Desktop/HR_1.csv"
file_path_2="C:/Users/pcc/Desktop/HR_2.csv"

df1= spark.read.csv(file_path_1 ,header=True, inferSchema=True)
df2= spark.read.csv(file_path_2 ,header=True, inferSchema=True)

In [2]:
df1.show(5)
df2.show(5)

+---+---------+--------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
|Age|Attrition|BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|
+---+---------+--------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
| 31|       No|    Non-Travel|      158|       Software|               7|        3|         Medical|            1|             1|                      3|  Male|        42|             2|       3|           Developer|              1|      Married|
| 38|       No| Travel_Rarely|      985|Human Resources|              33|        5|   Life Sciences|            1|             2|                      1|Female|        66|             2|       4|Healthcare Repres...|              3|       Single|
| 59|      Yes|    Non-Travel|     1273|          Sales|               5|        2|Technical Degree|            1|             3|                      4|Female|        96|             1|       3|Manufacturing Dir...|              2|      Married|
| 52|      Yes| Travel_Rarely|      480|        Support|               2|        5|       Marketing|            1|             4|                      4|Female|        71|             2|       4|     Human Resources|              1|      Married|
| 32|       No|    Non-Travel|      543|Human Resources|               7|        5| Human Resources|            1|             5|                      2|  Male|       122|             3|       3|             Manager|              2|     Divorced|
+---+---------+--------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
only showing top 5 rows

+-----------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Employee ID|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-----------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|          6|        41552|    1246560|                 3|     Y|     Yes|               15|                4|                       3|           80|               1|               33|                    4|              2|            16|                 4|                     14|                   3|
|          7|         5303|     148484|                 3|     Y|      No|               45|                4|                       1|           80|               1|                4|                    3|              4|             2|                 1|                      1|                   2|
|          8|        28555|     571100|                 2|     Y|     Yes|               35|                3|                       2|           80|               1|                2|                    2|              2|             2|                 2|                      2|                   2|
|         11|        10587|      95283|                 0|     Y|     Yes|               47|                4|                       2|           80|               1|               38|                    3|              4|            24|                19|                      8|                   6|
|         13|        34153|     648907|                 7|     Y|      No|               17|                1|                       3|           80|               1|               30|                    2|              2|            15|                 3|                      8|                   4|
+-----------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

In [3]:
df1.printSchema()
df2.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)

root
 |-- Employee ID: integer (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [4]:
df1=df1.select(["EmployeeNumber","Age","EducationField","Gender"])
df2=df2.select(["Employee ID","MonthlyIncome","MonthlyRate","PerformanceRating"])

In [5]:
df1.printSchema()
df2.printSchema()

root
 |-- EmployeeNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- Gender: string (nullable = true)

root
 |-- Employee ID: integer (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)

# 1. PySpark Join Syntax

join(self, other, on=None, how=None)

# 2. PySpark Inner Join DF

In [6]:
# Inner Join
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"inner").show(5)

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             2| 38|   Life Sciences|Female|          2|        45252|      45252|                1|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             4| 52|       Marketing|Female|          4|        27150|      27150|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

# 3. PySpark Full Outer Join

In [7]:
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"outer").show(5)
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"full").show(5)
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"fullouter").show(5)

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
|             6| 19|         Medical|Female|          6|        41552|    1246560|                4|
|             9| 41|   Life Sciences|  Male|          9|         3241|      87507|                1|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
|             6| 19|         Medical|Female|          6|        41552|    1246560|                4|
|             9| 41|   Life Sciences|  Male|          9|         3241|      87507|                1|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
|             6| 19|         Medical|Female|          6|        41552|    1246560|                4|
|             9| 41|   Life Sciences|  Male|          9|         3241|      87507|                1|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

# 4. PySpark Left Outer Join

In [8]:
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"left").show(5)
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"leftouter").show(5)

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             2| 38|   Life Sciences|Female|          2|        45252|      45252|                1|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             4| 52|       Marketing|Female|          4|        27150|      27150|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|          1|        42682|     298774|                4|
|             2| 38|   Life Sciences|Female|          2|        45252|      45252|                1|
|             3| 59|Technical Degree|Female|          3|        46149|     507639|                3|
|             4| 52|       Marketing|Female|          4|        27150|      27150|                3|
|             5| 32| Human Resources|  Male|          5|        15894|      47682|                3|
+--------------+---+----------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

# 5. Right Outer Join

In [9]:
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"right").show(5)
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"rightouter").show(5)

+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age| EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
|             6| 19|        Medical|Female|          6|        41552|    1246560|                4|
|             7| 42|Human Resources|Female|          7|         5303|     148484|                4|
|             8| 30|      Marketing|  Male|          8|        28555|     571100|                3|
|            11| 36|          Other|  Male|         11|        10587|      95283|                4|
|            13| 24|      Marketing|Female|         13|        34153|     648907|                1|
+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
|EmployeeNumber|Age| EducationField|Gender|Employee ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
|             6| 19|        Medical|Female|          6|        41552|    1246560|                4|
|             7| 42|Human Resources|Female|          7|         5303|     148484|                4|
|             8| 30|      Marketing|  Male|          8|        28555|     571100|                3|
|            11| 36|          Other|  Male|         11|        10587|      95283|                4|
|            13| 24|      Marketing|Female|         13|        34153|     648907|                1|
+--------------+---+---------------+------+-----------+-------------+-----------+-----------------+
only showing top 5 rows

# 6. Left Semi join 

leftsemi join is similar to inner join differece being leftsemi join returns all columns from left dataset and ignor all columns from right dataset. In other words, this join returns columns from only left dataset for records match in the right dataset on join expression, records not matched on join expression are ignored from both left and right datasets.

In [10]:
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"leftsemi").show(5)

+--------------+---+----------------+------+
|EmployeeNumber|Age|  EducationField|Gender|
+--------------+---+----------------+------+
|             1| 31|         Medical|  Male|
|             2| 38|   Life Sciences|Female|
|             3| 59|Technical Degree|Female|
|             4| 52|       Marketing|Female|
|             5| 32| Human Resources|  Male|
+--------------+---+----------------+------+
only showing top 5 rows

# 7. Left Anti Join

leftantijoin does the extact opposite of leftsemi, leftanti join returns only columns from the left dataset for non-matched records.

In [11]:
df1.join(df2,df1.EmployeeNumber==df2["Employee ID"],"leftanti").show(5)

+--------------+---+--------------+------+
|EmployeeNumber|Age|EducationField|Gender|
+--------------+---+--------------+------+
+--------------+---+--------------+------+

# 8. PySpark Self Join

In [12]:
from pyspark.sql.functions import col 
df1.alias("HR1").join((df1.alias("HR2")),
    col("HR1.EmployeeNumber")==col("HR2.EmployeeNumber"),"inner").show()

+--------------+---+----------------+------+--------------+---+----------------+------+
|EmployeeNumber|Age|  EducationField|Gender|EmployeeNumber|Age|  EducationField|Gender|
+--------------+---+----------------+------+--------------+---+----------------+------+
|             1| 31|         Medical|  Male|             1| 31|         Medical|  Male|
|             2| 38|   Life Sciences|Female|             2| 38|   Life Sciences|Female|
|             3| 59|Technical Degree|Female|             3| 59|Technical Degree|Female|
|             4| 52|       Marketing|Female|             4| 52|       Marketing|Female|
|             5| 32| Human Resources|  Male|             5| 32| Human Resources|  Male|
|             6| 19|         Medical|Female|             6| 19|         Medical|Female|
|             7| 42| Human Resources|Female|             7| 42| Human Resources|Female|
|             8| 30|       Marketing|  Male|             8| 30|       Marketing|  Male|
|             9| 41|   Life Sciences|  Male|             9| 41|   Life Sciences|  Male|
|            10| 45|   Life Sciences|Female|            10| 45|   Life Sciences|Female|
|            11| 36|           Other|  Male|            11| 36|           Other|  Male|
|            12| 23|   Life Sciences|Female|            12| 23|   Life Sciences|Female|
|            13| 24|       Marketing|Female|            13| 24|       Marketing|Female|
|            14| 39| Human Resources|Female|            14| 39| Human Resources|Female|
|            15| 42|   Life Sciences|  Male|            15| 42|   Life Sciences|  Male|
|            16| 44| Human Resources|Female|            16| 44| Human Resources|Female|
|            17| 50| Human Resources|  Male|            17| 50| Human Resources|  Male|
|            18| 42|   Life Sciences|Female|            18| 42|   Life Sciences|Female|
|            19| 49|Technical Degree|Female|            19| 49|Technical Degree|Female|
|            20| 58|Technical Degree|Female|            20| 58|Technical Degree|Female|
+--------------+---+----------------+------+--------------+---+----------------+------+
only showing top 20 rows

# 9. Using SQL Expression

In [13]:
df2 = df2.withColumnRenamed("Employee ID","ID")

In [14]:
df2.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)

In [15]:
df1.createTempView("HR__1")
df2.createTempView("HR__2")

In [16]:
joinDF= spark.sql("select * from HR__1 join HR__2 on HR__1.EmployeeNumber == HR__2.ID")

In [17]:
joinDF.show()

+--------------+---+----------------+------+---+-------------+-----------+-----------------+
|EmployeeNumber|Age|  EducationField|Gender| ID|MonthlyIncome|MonthlyRate|PerformanceRating|
+--------------+---+----------------+------+---+-------------+-----------+-----------------+
|             1| 31|         Medical|  Male|  1|        42682|     298774|                4|
|             2| 38|   Life Sciences|Female|  2|        45252|      45252|                1|
|             3| 59|Technical Degree|Female|  3|        46149|     507639|                3|
|             4| 52|       Marketing|Female|  4|        27150|      27150|                3|
|             5| 32| Human Resources|  Male|  5|        15894|      47682|                3|
|             6| 19|         Medical|Female|  6|        41552|    1246560|                4|
|             7| 42| Human Resources|Female|  7|         5303|     148484|                4|
|             8| 30|       Marketing|  Male|  8|        28555|     571100|                3|
|             9| 41|   Life Sciences|  Male|  9|         3241|      87507|                1|
|            10| 45|   Life Sciences|Female| 10|         4323|     116721|                1|
|            11| 36|           Other|  Male| 11|        10587|      95283|                4|
|            12| 23|   Life Sciences|Female| 12|         7446|     141474|                1|
|            13| 24|       Marketing|Female| 13|        34153|     648907|                1|
|            14| 39| Human Resources|Female| 14|        47844|     382752|                1|
|            15| 42|   Life Sciences|  Male| 15|        21432|      21432|                2|
|            16| 44| Human Resources|Female| 16|        50393|    1058253|                2|
|            17| 50| Human Resources|  Male| 17|        22090|      66270|                2|
|            18| 42|   Life Sciences|Female| 18|        47968|      47968|                4|
|            19| 49|Technical Degree|Female| 19|        24665|      98660|                2|
|            20| 58|Technical Degree|Female| 20|        41084|     903848|                1|
+--------------+---+----------------+------+---+-------------+-----------+-----------------+
only showing top 20 rows

# 10. PySpark SQL join on multiple DF

In [ ]:
df1.join(df2. df1.id1==df2.id2,"inner")
    .join(df3,df1.id1==df3.id3,"inner")