# PySpark `groupBy()` 
        by Aishwarya Raut

Similar to SQL `Group By` clause, PySpark `groupBy()` function is used to collect the identical data into groups on DF and perform count, sum, avg, min, max functions on the grouped data.

In [4]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("PySpark").getOrCreate()


# read csv file
file_path = "C:\\Users\\pcc\\Desktop\\daily-website-visitors.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)

df=df.withColumnsRenamed({"Day.Of.Week":"Day_Of_Week","Page.Loads":"Page_Loads",
                          "Unique.Visits":"Unique_Visits","First.Time.Visits":"First_Time_Visits",
                          "Returning.Visits":"Returning_Visits"})

df.show(5)

+---+---------+-----------+---------+----------+-------------+-----------------+----------------+
|Row|      Day|Day_Of_Week|     Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+---------+----------+-------------+-----------------+----------------+
|  1|   Sunday|          1|9/14/2014|      2146|         1582|             1430|             152|
|  2|   Monday|          2|9/15/2014|      3621|         2528|             2297|             231|
|  3|  Tuesday|          3|9/16/2014|      3698|         2630|             2352|             278|
|  4|Wednesday|          4|9/17/2014|      3667|         2614|             2327|             287|
|  5| Thursday|          5|9/18/2014|      3316|         2366|             2130|             236|
+---+---------+-----------+---------+----------+-------------+-----------------+----------------+
only showing top 5 rows

# 1. GroupBy() Syntax & Usage

**Syntax**
DataFrame.groupBy(*cols)

When we perform `groupBy()`  on pyspark DataFrame, it returns `GroupedData` object which contains below aggregate functions.

`count()`, 
`mean()`,
`max()`,
`min()`,
`sum()`,
`avg()`,
`agg()`,
`pivot()`

# 2. PySpark groupBy on DataFrame Columns

In [5]:
df.groupBy("Day").sum("Page_Loads").show(truncate=False)

+---------+---------------+
|Day      |sum(Page_Loads)|
+---------+---------------+
|Wednesday|1517114        |
|Tuesday  |1536154        |
|Friday   |1149437        |
|Thursday |1437269        |
|Saturday |772817         |
|Monday   |1502161        |
|Sunday   |1006564        |
+---------+---------------+

In [7]:
df.groupBy("Day").count().show(truncate=False)

+---------+-----+
|Day      |count|
+---------+-----+
|Wednesday|310  |
|Tuesday  |310  |
|Friday   |309  |
|Thursday |309  |
|Saturday |309  |
|Monday   |310  |
|Sunday   |310  |
+---------+-----+

In [8]:
df.groupBy("Day").min("Page_Loads").show(truncate=False)

+---------+---------------+
|Day      |min(Page_Loads)|
+---------+---------------+
|Wednesday|1381           |
|Tuesday  |1644           |
|Friday   |1017           |
|Thursday |1002           |
|Saturday |1115           |
|Monday   |1609           |
|Sunday   |1326           |
+---------+---------------+

In [9]:
df.groupBy("Day").max("Page_Loads").show(truncate=False)

+---------+---------------+
|Day      |max(Page_Loads)|
+---------+---------------+
|Wednesday|7984           |
|Tuesday  |7714           |
|Friday   |5735           |
|Thursday |7250           |
|Saturday |4614           |
|Monday   |7840           |
|Sunday   |5979           |
+---------+---------------+

In [10]:
df.groupBy("Day").avg("Page_Loads").show(truncate=False)

+---------+------------------+
|Day      |avg(Page_Loads)   |
+---------+------------------+
|Wednesday|4893.916129032258 |
|Tuesday  |4955.335483870967 |
|Friday   |3719.8608414239484|
|Thursday |4651.355987055016 |
|Saturday |2501.0258899676373|
|Monday   |4845.68064516129  |
|Sunday   |3246.9806451612903|
+---------+------------------+

In [11]:
df.groupBy("Day").mean("Page_Loads").show(truncate=False)

+---------+------------------+
|Day      |avg(Page_Loads)   |
+---------+------------------+
|Wednesday|4893.916129032258 |
|Tuesday  |4955.335483870967 |
|Friday   |3719.8608414239484|
|Thursday |4651.355987055016 |
|Saturday |2501.0258899676373|
|Monday   |4845.68064516129  |
|Sunday   |3246.9806451612903|
+---------+------------------+

# 3. Using Multiple columns

In [24]:
df.groupBy("Day").sum("First_Time_Visits",
                      "Returning_Visits")\
                .show(truncate=False)

+---------+----------------------+---------------------+
|Day      |sum(First_Time_Visits)|sum(Returning_Visits)|
+---------+----------------------+---------------------+
|Wednesday|897602                |188022               |
|Tuesday  |907752                |189429               |
|Friday   |668805                |149047               |
|Thursday |848921                |179293               |
|Saturday |456449                |95656                |
|Monday   |886036                |186076               |
|Sunday   |604198                |121596               |
+---------+----------------------+---------------------+

# 4. Running more aggregates at a time

Using agg() aggregate function we can calculate many aggregations at a time on a single statement using SQL functions sum(), avg(), min(), max() mean() e.t.c. In order to use these, we should import "from pyspark.sql.functions import sum,avg,max,min,mean,count"

In [18]:
from pyspark.sql.functions import sum, avg, max ,col
df.groupBy("Day").agg(sum("First_Time_Visits").alias("sum_first_time_visitor"),
                     avg("First_Time_Visits").alias("avg_First_Time_Visits"),
                     sum("First_Time_Visits").alias("Sum_First_Time_Visits"),
                     max("First_Time_Visits").alias("Max_First_Time_Visits")
                     ).show(truncate=False)

+---------+----------------------+---------------------+---------------------+---------------------+
|Day      |sum_first_time_visitor|avg_First_Time_Visits|Sum_First_Time_Visits|Max_First_Time_Visits|
+---------+----------------------+---------------------+---------------------+---------------------+
|Wednesday|897602                |2895.490322580645    |897602               |4616                 |
|Tuesday  |907752                |2928.232258064516    |907752               |4500                 |
|Friday   |668805                |2164.4174757281553   |668805               |3592                 |
|Thursday |848921                |2747.3171521035597   |848921               |4213                 |
|Saturday |456449                |1477.1812297734627   |456449               |2932                 |
|Monday   |886036                |2858.18064516129     |886036               |4569                 |
|Sunday   |604198                |1949.0258064516129   |604198               |3393                 |
+---------+----------------------+---------------------+---------------------+---------------------+

# 5. Using filter on aggregate data

In [23]:
df.groupBy("Day").agg(sum("First_Time_Visits").alias("sum_first_time_visitor"),
                     avg("First_Time_Visits").alias("avg_First_Time_Visits"),
                     sum("First_Time_Visits").alias("Sum_First_Time_Visits"),
                     max("First_Time_Visits").alias("Max_First_Time_Visits")
                     ).where(col("Sum_First_Time_Visits")>=500).show(truncate=False)

+---------+----------------------+---------------------+---------------------+---------------------+
|Day      |sum_first_time_visitor|avg_First_Time_Visits|Sum_First_Time_Visits|Max_First_Time_Visits|
+---------+----------------------+---------------------+---------------------+---------------------+
|Wednesday|897602                |2895.490322580645    |897602               |4616                 |
|Tuesday  |907752                |2928.232258064516    |907752               |4500                 |
|Friday   |668805                |2164.4174757281553   |668805               |3592                 |
|Thursday |848921                |2747.3171521035597   |848921               |4213                 |
|Saturday |456449                |1477.1812297734627   |456449               |2932                 |
|Monday   |886036                |2858.18064516129     |886036               |4569                 |
|Sunday   |604198                |1949.0258064516129   |604198               |3393                 |
+---------+----------------------+---------------------+---------------------+---------------------+