 Pivot() It is an aggregation where one of the grouping columns values is transposed into individual columns with distinct data.

# Syntax
`pivot_df = original_df.groupBy("grouping_column").pivot("pivot_column").agg({"agg_column": "agg_function"})`

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("SP").getOrCreate()

In [7]:
# read csv file
file_path = "C:/Users/pcc/Desktop/HR_1.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)
df

DataFrame[Age: int, Attrition: string, BusinessTravel: string, DailyRate: int, Department: string, DistanceFromHome: int, Education: int, EducationField: string, EmployeeCount: int, EmployeeNumber: int, EnvironmentSatisfaction: int, Gender: string, HourlyRate: int, JobInvolvement: int, JobLevel: int, JobRole: string, JobSatisfaction: int, MaritalStatus: string]

In [8]:
df.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
| 31|       No|       Non-Travel|      158|            Software|               7|        3|         Medical|            1|             1|                      3|  Male|        42|             2|       3|           Developer|              1|      Married|
| 38|       No|    Travel_Rarely|      985|     Human Resources|              33|        5|   Life Sciences|            1|             2|                      1|Female|        66|             2|       4|Healthcare Repres...|              3|       Single|
| 59|      Yes|       Non-Travel|     1273|               Sales|               5|        2|Technical Degree|            1|             3|                      4|Female|        96|             1|       3|Manufacturing Dir...|              2|      Married|
| 52|      Yes|    Travel_Rarely|      480|             Support|               2|        5|       Marketing|            1|             4|                      4|Female|        71|             2|       4|     Human Resources|              1|      Married|
| 32|       No|       Non-Travel|      543|     Human Resources|               7|        5| Human Resources|            1|             5|                      2|  Male|       122|             3|       3|             Manager|              2|     Divorced|
| 19|      Yes|       Non-Travel|      779|            Hardware|              43|        1|         Medical|            1|             6|                      2|Female|       195|             4|       3|   Research Director|              3|      Married|
| 42|      Yes|       Non-Travel|      934|             Support|              26|        4| Human Resources|            1|             7|                      2|Female|        80|             3|       5|     Sales Executive|              4|     Divorced|
| 30|       No|    Travel_Rarely|      380|             Support|              19|        3|       Marketing|            1|             8|                      4|  Male|       165|             1|       4|     Human Resources|              4|       Single|
| 41|       No|Travel_Frequently|     1464|            Software|              16|        1|   Life Sciences|            1|             9|                      3|  Male|       134|             1|       2|             Manager|              4|     Divorced|
| 45|       No|Travel_Frequently|     1020|     Human Resources|              17|        5|   Life Sciences|            1|            10|                      4|Female|       137|             2|       4|             Manager|              2|      Married|
| 36|       No|    Travel_Rarely|      987|               Sales|              33|        4|           Other|            1|            11|                      3|  Male|       159|             3|       1|     Human Resources|              3|      Married|
| 23|       No|Travel_Frequently|      135|     Human Resources|              20|        4|   Life Sciences|            1|            12|                      2|Female|        51|             2|       2|Manufacturing Dir...|              2|     Divorced|
| 24|      Yes|       Non-Travel|     1086|             Support|              15|        1|       Marketing|            1|            13|                      4|Female|       189|             3|       1|Manufacturing Dir...|              4|      Married|
| 39|      Yes|       Non-Travel|      673|Research & Develo...|              16|        2| Human Resources|            1|            14|                      2|Female|        69|             4|       2|     Sales Executive|              2|      Married|
| 42|      Yes|    Travel_Rarely|      145|     Human Resources|              31|        3|   Life Sciences|            1|            15|                      3|  Male|       127|             3|       1|           Developer|              4|      Married|
| 44|      Yes|Travel_Frequently|      717|            Software|              10|        2| Human Resources|            1|            16|                      3|Female|       151|             1|       5|Sales Representative|              4|     Divorced|
| 50|      Yes|Travel_Frequently|      460|Research & Develo...|              10|        4| Human Resources|            1|            17|                      4|  Male|       181|             2|       5|             Manager|              3|     Divorced|
| 42|       No|    Travel_Rarely|     1422|            Software|              26|        4|   Life Sciences|            1|            18|                      4|Female|        92|             4|       5|           Developer|              3|       Single|
| 49|       No|Travel_Frequently|      129|Research & Develo...|              41|        1|Technical Degree|            1|            19|                      3|Female|        81|             2|       1|             Manager|              1|     Divorced|
| 58|      Yes|    Travel_Rarely|      637|             Support|               5|        4|Technical Degree|            1|            20|                      2|Female|        66|             3|       5|             Manager|              2|      Married|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)

# Pivot PySpark DataFrame

In [18]:
# Applying pivot()
pivotDf=df.groupBy("Department").pivot("Gender").sum("Age")
pivotDf.printSchema()
pivotDf.show()

root
 |-- Department: string (nullable = true)
 |-- Female: long (nullable = true)
 |-- Male: long (nullable = true)

+--------------------+------+------+
|          Department|Female|  Male|
+--------------------+------+------+
|               Sales|162689|165794|
|Research & Develo...|164843|160354|
|            Software|163530|161543|
|             Support|158128|164641|
|            Hardware|160705|159191|
|     Human Resources|163646|163510|
+--------------------+------+------+

In [21]:
pivotDf=df.groupBy("Department","Gender").avg("Age").groupBy("Department").pivot("Gender").avg("avg(Age)")
pivotDf.show()

+--------------------+------------------+-----------------+
|          Department|            Female|             Male|
+--------------------+------------------+-----------------+
|               Sales|38.855743969429184|38.86404125644632|
|Research & Develo...| 39.16440959847945|39.01557177615572|
|            Software| 38.97283126787416|39.02004830917874|
|             Support| 38.82347164252394|38.90382797731569|
|            Hardware|39.359539554249324|38.96010768477729|
|     Human Resources| 39.02838063439065|38.70059171597633|
+--------------------+------------------+-----------------+

In [24]:
dep=['Sales','Hardware','Support']
pivotDf=df.groupBy("Gender").pivot("Department",dep).sum("Age")
pivotDf.printSchema()
pivotDf.show()

root
 |-- Gender: string (nullable = true)
 |-- Sales: long (nullable = true)
 |-- Hardware: long (nullable = true)
 |-- Support: long (nullable = true)

+------+------+--------+-------+
|Gender| Sales|Hardware|Support|
+------+------+--------+-------+
|Female|162689|  160705| 158128|
|  Male|165794|  159191| 164641|
+------+------+--------+-------+

# Unpivot PySpark DataFrame

 PySpark SQL doesn’t have unpivot function hence will use the stack() function.

In [25]:
# Applying unpivot()
from pyspark.sql.functions import expr
unpivotExpr="stack(3,'Support','Support','Software','Software','Hardware','Hardware') as (Department, Total)"
unpivotDF=pivotDf.select("Gender",expr(unpivotExpr)).where("Total is not null")
unpivotDF.show()

+------+----------+--------+
|Gender|Department|   Total|
+------+----------+--------+
|Female|   Support| Support|
|Female|  Software|Software|
|Female|  Hardware|Hardware|
|  Male|   Support| Support|
|  Male|  Software|Software|
|  Male|  Hardware|Hardware|
+------+----------+--------+