# from pyspark.sql import SparkSession 

# create sparksession 

spark= SparkSession.builder.appName("SparkExamples").getOrCreate()
spark

In [9]:
data =[("James","","Smith",30,"M",60000),
       ("Michael","Rose","",50,"M",70000),
       ("Robert","","Williams",42,"",400000),
       ("Maria","Anne","Jones",38,"F",500000),
       ("Jen","Mary","Brown",45,"F",0)]

print(data)

column=["firstname","middlename","lastname","age","gender","salary"]

# create pyspark dataframe

pysparkdf=spark.createDataFrame(data=data,schema=column)

pysparkdf.printSchema()

[('James', '', 'Smith', 30, 'M', 60000), ('Michael', 'Rose', '', 50, 'M', 70000), ('Robert', '', 'Williams', 42, '', 400000), ('Maria', 'Anne', 'Jones', 38, 'F', 500000), ('Jen', 'Mary', 'Brown', 45, 'F', 0)]
root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [13]:
# pysparkdf.show(truncate= False)

In [20]:
# read csv file
file_path = "C:\\Users\\pcc\\Desktop\\daily-website-visitors.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)
df

DataFrame[Row: int, Day: string, Day.Of.Week: int, Date: string, Page.Loads: int, Unique.Visits: int, First.Time.Visits: int, Returning.Visits: int]

.csv

.text

.Avro

.Parquet

.tsv

.xml 

and many more

In [21]:
df.printSchema()

root
 |-- Row: integer (nullable = true)
 |-- Day: string (nullable = true)
 |-- Day.Of.Week: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Page.Loads: integer (nullable = true)
 |-- Unique.Visits: integer (nullable = true)
 |-- First.Time.Visits: integer (nullable = true)
 |-- Returning.Visits: integer (nullable = true)

In [22]:
df.show()

+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row|      Day|Day.Of.Week|      Date|Page.Loads|Unique.Visits|First.Time.Visits|Returning.Visits|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|  1|   Sunday|          1| 9/14/2014|      2146|         1582|             1430|             152|
|  2|   Monday|          2| 9/15/2014|      3621|         2528|             2297|             231|
|  3|  Tuesday|          3| 9/16/2014|      3698|         2630|             2352|             278|
|  4|Wednesday|          4| 9/17/2014|      3667|         2614|             2327|             287|
|  5| Thursday|          5| 9/18/2014|      3316|         2366|             2130|             236|
|  6|   Friday|          6| 9/19/2014|      2815|         1863|             1622|             241|
|  7| Saturday|          7| 9/20/2014|      1658|         1118|              985|             133|
|  8|   Sunday|          1| 9/21/2014|      2288|         1656|             1481|             175|
|  9|   Monday|          2| 9/22/2014|      3638|         2586|             2312|             274|
| 10|  Tuesday|          3| 9/23/2014|      4462|         3257|             2989|             268|
| 11|Wednesday|          4| 9/24/2014|      4414|         3175|             2891|             284|
| 12| Thursday|          5| 9/25/2014|      4315|         3029|             2743|             286|
| 13|   Friday|          6| 9/26/2014|      3323|         2249|             2033|             216|
| 14| Saturday|          7| 9/27/2014|      1656|         1180|             1040|             140|
| 15|   Sunday|          1| 9/28/2014|      2465|         1806|             1613|             193|
| 16|   Monday|          2| 9/29/2014|      4096|         2873|             2577|             296|
| 17|  Tuesday|          3| 9/30/2014|      4474|         3032|             2720|             312|
| 18|Wednesday|          4|10-01-2014|      4124|         2849|             2541|             308|
| 19| Thursday|          5|10-02-2014|      3514|         2489|             2239|             250|
| 20|   Friday|          6|10-03-2014|      3005|         2097|             1856|             241|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

In [ ]:
cols=["Row","Day","Day.Of.Week","Date","Page.Loads","Unique.Visits","First.Time.Visits",
      "Returning.Visits"]
new_cols=["Row","Day","Day_Of_Week","Date","Page_Loads","Unique_Visits","First_Time_Visits",
      "Returning_Visits"]

In [27]:
df=df.withColumnsRenamed({"Day.Of.Week":"Day_Of_Week","Page.Loads":"Page_Loads",
                          "Unique.Visits":"Unique_Visits","First.Time.Visits":"First_Time_Visits",
                          "Returning.Visits":"Returning_Visits"})

In [28]:
df.show()

+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row|      Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|  1|   Sunday|          1| 9/14/2014|      2146|         1582|             1430|             152|
|  2|   Monday|          2| 9/15/2014|      3621|         2528|             2297|             231|
|  3|  Tuesday|          3| 9/16/2014|      3698|         2630|             2352|             278|
|  4|Wednesday|          4| 9/17/2014|      3667|         2614|             2327|             287|
|  5| Thursday|          5| 9/18/2014|      3316|         2366|             2130|             236|
|  6|   Friday|          6| 9/19/2014|      2815|         1863|             1622|             241|
|  7| Saturday|          7| 9/20/2014|      1658|         1118|              985|             133|
|  8|   Sunday|          1| 9/21/2014|      2288|         1656|             1481|             175|
|  9|   Monday|          2| 9/22/2014|      3638|         2586|             2312|             274|
| 10|  Tuesday|          3| 9/23/2014|      4462|         3257|             2989|             268|
| 11|Wednesday|          4| 9/24/2014|      4414|         3175|             2891|             284|
| 12| Thursday|          5| 9/25/2014|      4315|         3029|             2743|             286|
| 13|   Friday|          6| 9/26/2014|      3323|         2249|             2033|             216|
| 14| Saturday|          7| 9/27/2014|      1656|         1180|             1040|             140|
| 15|   Sunday|          1| 9/28/2014|      2465|         1806|             1613|             193|
| 16|   Monday|          2| 9/29/2014|      4096|         2873|             2577|             296|
| 17|  Tuesday|          3| 9/30/2014|      4474|         3032|             2720|             312|
| 18|Wednesday|          4|10-01-2014|      4124|         2849|             2541|             308|
| 19| Thursday|          5|10-02-2014|      3514|         2489|             2239|             250|
| 20|   Friday|          6|10-03-2014|      3005|         2097|             1856|             241|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

# Pyspark Transformation 

Pyspark transformation are lazy in nature meaning they do not execute until actions are called.

In [29]:
from pyspark.sql.functions import mean, col, max 

# calculate mean 
df2=df.select(mean("Page_Loads"),mean("Unique_Visits"))
df2.show()

+------------------+------------------+
|   avg(Page_Loads)|avg(Unique_Visits)|
+------------------+------------------+
|4116.9893862482695|2943.6465159206277|
+------------------+------------------+

In [30]:
# Group by statement 
df.groupBy("Day").agg(mean("Page_Loads"),mean("Unique_Visits"),mean("First_Time_Visits"),
                     mean("Returning_Visits")).show()

+---------+------------------+------------------+----------------------+---------------------+
|      Day|   avg(Page_Loads)|avg(Unique_Visits)|avg(First_Time_Visits)|avg(Returning_Visits)|
+---------+------------------+------------------+----------------------+---------------------+
|Wednesday| 4893.916129032258|3502.0129032258064|     2895.490322580645|    606.5225806451613|
|  Tuesday| 4955.335483870967| 3539.293548387097|     2928.232258064516|    611.0612903225806|
|   Friday|3719.8608414239484| 2646.770226537217|    2164.4174757281553|    482.3527508090615|
| Thursday| 4651.355987055016|3327.5533980582522|    2747.3171521035597|    580.2362459546925|
| Saturday|2501.0258899676373|1786.7475728155339|    1477.1812297734627|    309.5663430420712|
|   Monday|  4845.68064516129| 3458.425806451613|      2858.18064516129|    600.2451612903226|
|   Sunday|3246.9806451612903|2341.2709677419357|    1949.0258064516129|    392.2451612903226|
+---------+------------------+------------------+----------------------+---------------------+

# PySpark SQL Compatible 

pyspark supports sql queries to run transformations. All you need to do is create a table/ view from the pyspark dataframe.

In [38]:
df.createOrReplaceTempView("Week")
spark.sql("select * from Week where Page_Loads > 7500").show()

+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
| Row|      Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
| 808|  Tuesday|          3|11/29/2016|      7714|         5338|             4369|             969|
|1318|   Monday|          2| 4/23/2018|      7605|         5124|             4216|             908|
|1319|  Tuesday|          3| 4/24/2018|      7614|         5094|             4181|             913|
|1320|Wednesday|          4| 4/25/2018|      7984|         5541|             4616|             925|
|1536|  Tuesday|          3|11/27/2018|      7503|         5181|             4267|             914|
|1537|Wednesday|          4|11/28/2018|      7554|         5227|             4330|             897|
|1542|   Monday|          2|12-03-2018|      7650|         5378|             4431|             947|
|1549|   Monday|          2|12-10-2018|      7840|         5421|             4465|             956|
|1550|  Tuesday|          3|12-11-2018|      7659|         5267|             4330|             937|
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+

In [41]:
spark.sql("select Day, mean(Page_Loads) as avg_page_load from Week group by day").show()

+---------+------------------+
|      Day|     avg_page_load|
+---------+------------------+
|Wednesday| 4893.916129032258|
|  Tuesday| 4955.335483870967|
|   Friday|3719.8608414239484|
| Thursday| 4651.355987055016|
| Saturday|2501.0258899676373|
|   Monday|  4845.68064516129|
|   Sunday|3246.9806451612903|
+---------+------------------+

# Create PySpark dataframe from pandas

In [45]:
import pandas as pd 
daily_web_visitor= pd.read_csv(file_path)
print(daily_web_visitor.head(5))

# Create Pyspark dataframe from pandas 

spark_daily_web_visitor= spark.createDataFrame(daily_web_visitor)
spark_daily_web_visitor.printSchema()

   Row        Day  Day.Of.Week       Date  Page.Loads  Unique.Visits  \
0    1     Sunday            1  9/14/2014        2146           1582
1    2     Monday            2  9/15/2014        3621           2528
2    3    Tuesday            3  9/16/2014        3698           2630
3    4  Wednesday            4  9/17/2014        3667           2614
4    5   Thursday            5  9/18/2014        3316           2366

   First.Time.Visits  Returning.Visits
0               1430               152
1               2297               231
2               2352               278
3               2327               287
4               2130               236
root
 |-- Row: long (nullable = true)
 |-- Day: string (nullable = true)
 |-- Day.Of.Week: long (nullable = true)
 |-- Date: string (nullable = true)
 |-- Page.Loads: long (nullable = true)
 |-- Unique.Visits: long (nullable = true)
 |-- First.Time.Visits: long (nullable = true)
 |-- Returning.Visits: long (nullable = true)

# Create Pandas from pyspark dataframe

Note: `toPandas()` method  is an action that collects the data into spark drive memory so you have to be very careful while dealing with large datasets. You will get outOfMemoryException if the collected data doesn't it in the spark drive memory.

In [48]:
# Convert pyspark to pandas 
pandasdf=df.toPandas()
pandasdf.head()

,Row,Day,Day_Of_Week,Date,Page_Loads,Unique_Visits,First_Time_Visits,Returning_Visits
0,1,Sunday,1,9/14/2014,2146,1582,1430,152
1,2,Monday,2,9/15/2014,3621,2528,2297,231
2,3,Tuesday,3,9/16/2014,3698,2630,2352,278
3,4,Wednesday,4,9/17/2014,3667,2614,2327,287
4,5,Thursday,5,9/18/2014,3316,2366,2130,236

# Create Empty RDD in Pyspark

In [49]:
from pyspark.sql import SparkSession
sp= SparkSession.builder.appName("Spark.com").getOrCreate()

# create empty RDD
emptyRDD= sp.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[161] at emptyRDD at NativeMethodAccessorImpl.java:0

Alternatively use, parallelize .

In [51]:
# creates empty RDD using parallelize 
rdd2=sp.sparkContext.parallelize([])
print(rdd2)

ParallelCollectionRDD[162] at readRDDFromFile at PythonRDD.scala:289

Note: If you try to perform operations on empty RDD you going get `ValueError("RDD is empty")`.

# Create Empty Dataframe with Schema (StructType)

In order to create an empty pyspark dataframe manually with schema (column names and type) first, create a schema using StructType and StructField.

In [53]:
# create schema 
from pyspark.sql.types import StructType, StructField, StringType
schema= StructType([
    StructField('firstname',StringType(),True),
    StructField('middlename',StringType(),True),
    StructField('lastname',StringType(),True)
])

Now, use the empty RDD created above and pass it to `createDataFrame()` of sparksesion along with the shema for column names and types.

In [56]:
# create empty dataframe from empty RDD
a= sp.createDataFrame(emptyRDD,schema)
a.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

# Convert empty RDD to Dataframe

In [57]:
a1=emptyRDD.toDF(schema)
a1.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

# Create Empty Dataframe with Schema

In [59]:
a2=sp.createDataFrame([],schema)
a2.printSchema

# Create Empty df without schema (no columns)

In [60]:
a3= sp.createDataFrame([],StructType([]))
a3.printSchema()

root

# PySpark show() - Display dataframe contents in table.

In [70]:
# default -displays 20 rows and 20 characters from column value 
df.show()

+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row|      Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|  1|   Sunday|          1| 9/14/2014|      2146|         1582|             1430|             152|
|  2|   Monday|          2| 9/15/2014|      3621|         2528|             2297|             231|
|  3|  Tuesday|          3| 9/16/2014|      3698|         2630|             2352|             278|
|  4|Wednesday|          4| 9/17/2014|      3667|         2614|             2327|             287|
|  5| Thursday|          5| 9/18/2014|      3316|         2366|             2130|             236|
|  6|   Friday|          6| 9/19/2014|      2815|         1863|             1622|             241|
|  7| Saturday|          7| 9/20/2014|      1658|         1118|              985|             133|
|  8|   Sunday|          1| 9/21/2014|      2288|         1656|             1481|             175|
|  9|   Monday|          2| 9/22/2014|      3638|         2586|             2312|             274|
| 10|  Tuesday|          3| 9/23/2014|      4462|         3257|             2989|             268|
| 11|Wednesday|          4| 9/24/2014|      4414|         3175|             2891|             284|
| 12| Thursday|          5| 9/25/2014|      4315|         3029|             2743|             286|
| 13|   Friday|          6| 9/26/2014|      3323|         2249|             2033|             216|
| 14| Saturday|          7| 9/27/2014|      1656|         1180|             1040|             140|
| 15|   Sunday|          1| 9/28/2014|      2465|         1806|             1613|             193|
| 16|   Monday|          2| 9/29/2014|      4096|         2873|             2577|             296|
| 17|  Tuesday|          3| 9/30/2014|      4474|         3032|             2720|             312|
| 18|Wednesday|          4|10-01-2014|      4124|         2849|             2541|             308|
| 19| Thursday|          5|10-02-2014|      3514|         2489|             2239|             250|
| 20|   Friday|          6|10-03-2014|      3005|         2097|             1856|             241|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

In [71]:
# display full column contents
df.show(truncate=False)

+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row|Day      |Day_Of_Week|Date      |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|1  |Sunday   |1          |9/14/2014 |2146      |1582         |1430             |152             |
|2  |Monday   |2          |9/15/2014 |3621      |2528         |2297             |231             |
|3  |Tuesday  |3          |9/16/2014 |3698      |2630         |2352             |278             |
|4  |Wednesday|4          |9/17/2014 |3667      |2614         |2327             |287             |
|5  |Thursday |5          |9/18/2014 |3316      |2366         |2130             |236             |
|6  |Friday   |6          |9/19/2014 |2815      |1863         |1622             |241             |
|7  |Saturday |7          |9/20/2014 |1658      |1118         |985              |133             |
|8  |Sunday   |1          |9/21/2014 |2288      |1656         |1481             |175             |
|9  |Monday   |2          |9/22/2014 |3638      |2586         |2312             |274             |
|10 |Tuesday  |3          |9/23/2014 |4462      |3257         |2989             |268             |
|11 |Wednesday|4          |9/24/2014 |4414      |3175         |2891             |284             |
|12 |Thursday |5          |9/25/2014 |4315      |3029         |2743             |286             |
|13 |Friday   |6          |9/26/2014 |3323      |2249         |2033             |216             |
|14 |Saturday |7          |9/27/2014 |1656      |1180         |1040             |140             |
|15 |Sunday   |1          |9/28/2014 |2465      |1806         |1613             |193             |
|16 |Monday   |2          |9/29/2014 |4096      |2873         |2577             |296             |
|17 |Tuesday  |3          |9/30/2014 |4474      |3032         |2720             |312             |
|18 |Wednesday|4          |10-01-2014|4124      |2849         |2541             |308             |
|19 |Thursday |5          |10-02-2014|3514      |2489         |2239             |250             |
|20 |Friday   |6          |10-03-2014|3005      |2097         |1856             |241             |
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

In [72]:
# Display 2 rows and full column contents
df.show(2,truncate=False)

+---+------+-----------+---------+----------+-------------+-----------------+----------------+
|Row|Day   |Day_Of_Week|Date     |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+------+-----------+---------+----------+-------------+-----------------+----------------+
|1  |Sunday|1          |9/14/2014|2146      |1582         |1430             |152             |
|2  |Monday|2          |9/15/2014|3621      |2528         |2297             |231             |
+---+------+-----------+---------+----------+-------------+-----------------+----------------+
only showing top 2 rows

In [73]:
# Display dataframe rows and columns vertically
df.show(n=3,truncate=25,vertical=True)

-RECORD 0----------------------
 Row               | 1
 Day               | Sunday
 Day_Of_Week       | 1
 Date              | 9/14/2014
 Page_Loads        | 2146
 Unique_Visits     | 1582
 First_Time_Visits | 1430
 Returning_Visits  | 152
-RECORD 1----------------------
 Row               | 2
 Day               | Monday
 Day_Of_Week       | 2
 Date              | 9/15/2014
 Page_Loads        | 3621
 Unique_Visits     | 2528
 First_Time_Visits | 2297
 Returning_Visits  | 231
-RECORD 2----------------------
 Row               | 3
 Day               | Tuesday
 Day_Of_Week       | 3
 Date              | 9/16/2014
 Page_Loads        | 3698
 Unique_Visits     | 2630
 First_Time_Visits | 2352
 Returning_Visits  | 278
only showing top 3 rows

In [ ]:
# Syntax
show(self, n=20,truncate=True, vertical=False)