In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("SP").getOrCreate()

file_path="C:/Users/pcc/Desktop/Temp.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- population: integer (nullable = true)

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|   NULL|   MH|     30100|
|  2|    708|    NULL|   pune|   MH|      NULL|
|  3|    709|    NULL|phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|   NULL|   TN|      NULL|
+---+-------+--------+-------+-----+----------+

# PySpark fillna() & fill() Syntax

In [2]:
# Replace 0 for null  for all  integer column
df.na.fill(value=0).show()

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|   NULL|   MH|     30100|
|  2|    708|    NULL|   pune|   MH|         0|
|  3|    709|    NULL|phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|   NULL|   TN|         0|
+---+-------+--------+-------+-----+----------+

In [3]:
# Replace 0 for null on only population column
df.na.fill(value=0,subset=["population"]).show()

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|   NULL|   MH|     30100|
|  2|    708|    NULL|   pune|   MH|         0|
|  3|    709|    NULL|phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|   NULL|   TN|         0|
+---+-------+--------+-------+-----+----------+

In [6]:
df.na.fill("").show()

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|       |   MH|     30100|
|  2|    708|        |   pune|   MH|      NULL|
|  3|    709|        |phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|       |   TN|      NULL|
+---+-------+--------+-------+-----+----------+

In [8]:
df.na.fill("unknown",["city"]).na.fill("",["type"]).show()

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|unknown|   MH|     30100|
|  2|    708|        |   pune|   MH|      NULL|
|  3|    709|        |phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|unknown|   TN|      NULL|
+---+-------+--------+-------+-----+----------+

In [9]:
df.na.fill({'city':"unknown","type":""}).show()

+---+-------+--------+-------+-----+----------+
| id|zipcode|    type|   city|state|population|
+---+-------+--------+-------+-----+----------+
|  1|    704|standard|unknown|   MH|     30100|
|  2|    708|        |   pune|   MH|      NULL|
|  3|    709|        |phaltan|   MH|      3700|
|  4|  76166|  unique| satara|   MH|     84000|
|  5|  76177|standard|unknown|   TN|      NULL|
+---+-------+--------+-------+-----+----------+