In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("SP").getOrCreate()

# read csv file
file_path = "C:\\Users\\pcc\\Desktop\\daily-website-visitors.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)
df

df=df.withColumnsRenamed({"Day.Of.Week":"Day_Of_Week","Page.Loads":"Page_Loads",
                          "Unique.Visits":"Unique_Visits","First.Time.Visits":"First_Time_Visits",
                          "Returning.Visits":"Returning_Visits"})

In [2]:
from pyspark.sql.functions import *

In [6]:
# row_number() window function is used to give the sequential row number 
# starting from 1 to the result for each window partition.

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

window_spec=Window.partitionBy("Day").orderBy("Returning_Visits")

df.withColumn("row_number",row_number().over(window_spec)).show(truncate=False)

+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
|Row |Day   |Day_Of_Week|Date      |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|row_number|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
|468 |Friday|6          |12/25/2015|1,017     |724          |586              |138             |1         |
|475 |Friday|6          |1/1/2016  |1,411     |960          |786              |174             |2         |
|104 |Friday|6          |12/26/2014|1,486     |1,005        |808              |197             |3         |
|1931|Friday|6          |12/27/2019|1,927     |1,319        |1,109            |210             |4         |
|13  |Friday|6          |9/26/2014 |3,323     |2,249        |2,033            |216             |5         |
|6   |Friday|6          |9/19/2014 |2,815     |1,863        |1,622            |241             |6         |
|20  |Friday|6          |10/3/2014 |3,005     |2,097        |1,856            |241             |7         |
|111 |Friday|6          |1/2/2015  |1,948     |1,288        |1,030            |258             |8         |
|118 |Friday|6          |1/9/2015  |2,783     |1,941        |1,663            |278             |9         |
|48  |Friday|6          |10/31/2014|2,933     |2,007        |1,728            |279             |10        |
|27  |Friday|6          |10/10/2014|3,565     |2,382        |2,100            |282             |11        |
|132 |Friday|6          |1/23/2015 |3,111     |2,181        |1,897            |284             |12        |
|125 |Friday|6          |1/16/2015 |2,943     |1,928        |1,640            |288             |13        |
|97  |Friday|6          |12/19/2014|2,748     |1,879        |1,559            |320             |14        |
|1938|Friday|6          |1/3/2020  |2,970     |2,180        |1,859            |321             |15        |
|1924|Friday|6          |12/20/2019|2,688     |1,906        |1,583            |323             |16        |
|1203|Friday|6          |12/29/2017|2,216     |1,410        |1,083            |327             |17        |
|41  |Friday|6          |10/24/2014|3,571     |2,498        |2,170            |328             |18        |
|1056|Friday|6          |8/4/2017  |2,042     |1,478        |1,150            |328             |19        |
|34  |Friday|6          |10/17/2014|3,624     |2,477        |2,148            |329             |20        |
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
only showing top 20 rows

In [7]:
# rank() window function is used to provide a rank to the result within a window partition.
# This function leaves gaps in rank when there is ties.
# This is same as RANK function in SQL.

from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|rank|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|   1|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|   2|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|   3|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210|   4|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|   5|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|   6|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|   6|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|   8|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278|   9|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279|  10|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282|  11|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284|  12|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288|  13|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320|  14|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321|  15|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323|  16|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327|  17|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328|  18|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328|  18|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329|  20|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
only showing top 20 rows

In [9]:
# dense_rank() window function is used to get the result with rank of rows within a window partition
# without any gaps. This is similar to rank() function, difference being rank function 
# leaves gaps in rank when there are ties.
# This is same as the Dense_Rank function in SQL.

from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|dense_rank|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|         1|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|         2|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|         3|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210|         4|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|         5|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|         6|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|         6|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|         7|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278|         8|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279|         9|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282|        10|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284|        11|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288|        12|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320|        13|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321|        14|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323|        15|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327|        16|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328|        17|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328|        17|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329|        18|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----------+
only showing top 20 rows

In [11]:
# percent_rank()
# This is same as the PERCENT_RANK function in SQL.

from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|        percent_rank|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|                 0.0|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|0.003246753246753247|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|0.006493506493506494|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210| 0.00974025974025974|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|0.012987012987012988|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|0.016233766233766232|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|0.016233766233766232|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|0.022727272727272728|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278|0.025974025974025976|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279| 0.02922077922077922|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282|0.032467532467532464|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284| 0.03571428571428571|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288| 0.03896103896103896|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320| 0.04220779220779221|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321|0.045454545454545456|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323|0.048701298701298704|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327| 0.05194805194805195|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328| 0.05519480519480519|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328| 0.05519480519480519|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329| 0.06168831168831169|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
only showing top 20 rows

In [13]:
# ntile() window function returns the relative rank of the result rows within a window partition. 
# In the below example we have used 2 as an argument to ntile, hence it returns ranking between 2 values.

from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+-----+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|ntile|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+-----+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|    1|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|    1|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|    1|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210|    1|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|    1|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|    1|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|    1|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|    1|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278|    1|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279|    1|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282|    1|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284|    1|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288|    1|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320|    1|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321|    1|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323|    1|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327|    1|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328|    1|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328|    1|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329|    1|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+-----+
only showing top 20 rows

In [14]:
# Cume_dist()vwindow function is used to get the cummulative distribution of values 
# within a window partition.
# This is same as the Dense_rank function in SQL.

from pyspark.sql.functions import cume_dist
df.withColumn("Cumm",cume_dist().over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|                Cumm|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|0.003236245954692557|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|0.006472491909385114|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|0.009708737864077669|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210|0.012944983818770227|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|0.016181229773462782|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|0.022653721682847898|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|0.022653721682847898|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|0.025889967637540454|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278| 0.02912621359223301|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279|0.032362459546925564|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282| 0.03559870550161812|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284|0.038834951456310676|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288|0.042071197411003236|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320|0.045307443365695796|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321| 0.04854368932038835|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323| 0.05177993527508091|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327| 0.05501618122977346|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328|0.061488673139158574|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328|0.061488673139158574|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329| 0.06472491909385113|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+--------------------+
only showing top 20 rows

In [15]:
# lag()- This is same as the lag function in sql. 
from pyspark.sql.functions import lag
df.withColumn("lag",lag("Returning_Visits",2).over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits| lag|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138|NULL|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|NULL|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197| 138|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210| 174|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216| 197|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241| 210|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241| 216|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258| 241|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278| 241|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279| 258|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282| 278|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284| 279|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288| 282|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320| 284|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321| 288|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323| 320|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327| 321|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328| 323|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328| 327|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329| 328|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
only showing top 20 rows

In [16]:
# lead() - This is same as the function in sql.

from pyspark.sql.functions import lead
df.withColumn("lead",lead("Returning_Visits",2).over(window_spec)).show()

+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| Row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|lead|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
| 468|Friday|          6|12/25/2015|     1,017|          724|              586|             138| 197|
| 475|Friday|          6|  1/1/2016|     1,411|          960|              786|             174| 210|
| 104|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197| 216|
|1931|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210| 241|
|  13|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216| 241|
|   6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241| 258|
|  20|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241| 278|
| 111|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258| 279|
| 118|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278| 282|
|  48|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279| 284|
|  27|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282| 288|
| 132|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284| 320|
| 125|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288| 321|
|  97|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320| 323|
|1938|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321| 327|
|1924|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323| 328|
|1203|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327| 328|
|  41|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328| 329|
|1056|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328| 332|
|  34|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329| 333|
+----+------+-----------+----------+----------+-------------+-----------------+----------------+----+
only showing top 20 rows

In [27]:
# PySpark window aggregation function
window_Spec_agg = Window.partitionBy("Day")
from pyspark.sql.functions import col, sum, avg, min, max, row_number
df.withColumn("row",row_number().over(window_spec)
             ).withColumn("avg",avg(col("Returning_Visits")).over(window_Spec_agg)
                         ).withColumn("sum",sum(col("Returning_Visits")).over(window_Spec_agg)
                                     ).withColumn("min",min(col("Returning_Visits")).over(window_Spec_agg)
                                                 ).withColumn("max",max(col("Returning_Visits")).over(window_Spec_agg)
                                                             ).show()

+---+------+-----------+----------+----------+-------------+-----------------+----------------+-----------------+--------+---+---+
|row|   Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|              avg|     sum|min|max|
+---+------+-----------+----------+----------+-------------+-----------------+----------------+-----------------+--------+---+---+
|  1|Friday|          6|12/25/2015|     1,017|          724|              586|             138|482.3527508090615|149047.0|138|806|
|  2|Friday|          6|  1/1/2016|     1,411|          960|              786|             174|482.3527508090615|149047.0|138|806|
|  3|Friday|          6|12/26/2014|     1,486|        1,005|              808|             197|482.3527508090615|149047.0|138|806|
|  4|Friday|          6|12/27/2019|     1,927|        1,319|            1,109|             210|482.3527508090615|149047.0|138|806|
|  5|Friday|          6| 9/26/2014|     3,323|        2,249|            2,033|             216|482.3527508090615|149047.0|138|806|
|  6|Friday|          6| 9/19/2014|     2,815|        1,863|            1,622|             241|482.3527508090615|149047.0|138|806|
|  7|Friday|          6| 10/3/2014|     3,005|        2,097|            1,856|             241|482.3527508090615|149047.0|138|806|
|  8|Friday|          6|  1/2/2015|     1,948|        1,288|            1,030|             258|482.3527508090615|149047.0|138|806|
|  9|Friday|          6|  1/9/2015|     2,783|        1,941|            1,663|             278|482.3527508090615|149047.0|138|806|
| 10|Friday|          6|10/31/2014|     2,933|        2,007|            1,728|             279|482.3527508090615|149047.0|138|806|
| 11|Friday|          6|10/10/2014|     3,565|        2,382|            2,100|             282|482.3527508090615|149047.0|138|806|
| 12|Friday|          6| 1/23/2015|     3,111|        2,181|            1,897|             284|482.3527508090615|149047.0|138|806|
| 13|Friday|          6| 1/16/2015|     2,943|        1,928|            1,640|             288|482.3527508090615|149047.0|138|806|
| 14|Friday|          6|12/19/2014|     2,748|        1,879|            1,559|             320|482.3527508090615|149047.0|138|806|
| 15|Friday|          6|  1/3/2020|     2,970|        2,180|            1,859|             321|482.3527508090615|149047.0|138|806|
| 16|Friday|          6|12/20/2019|     2,688|        1,906|            1,583|             323|482.3527508090615|149047.0|138|806|
| 17|Friday|          6|12/29/2017|     2,216|        1,410|            1,083|             327|482.3527508090615|149047.0|138|806|
| 18|Friday|          6|10/24/2014|     3,571|        2,498|            2,170|             328|482.3527508090615|149047.0|138|806|
| 19|Friday|          6|  8/4/2017|     2,042|        1,478|            1,150|             328|482.3527508090615|149047.0|138|806|
| 20|Friday|          6|10/17/2014|     3,624|        2,477|            2,148|             329|482.3527508090615|149047.0|138|806|
+---+------+-----------+----------+----------+-------------+-----------------+----------------+-----------------+--------+---+---+
only showing top 20 rows