# PySpark Distinct to Drop Duplicate Rows
            by Aishwarya Raut

PySpark `distinct()` function is used to drop/remove the duplicate rows(all columns) from DF and `dropDuplicates()` is used to drop rows based on selected (one or multiple) columns.

In [2]:
# Import PySpark 
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# create SparkSession 
spark= SparkSession.builder.appName("PySpark").getOrCreate()

# prepare data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# create Dataframe 
columns=["emp_name","department","salary"]
df=spark.createDataFrame(data,schema=columns)
df.printSchema()

root
 |-- emp_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

In [4]:
# df.show()

In [9]:
# read csv file
file_path = "C:\\Users\\pcc\\Desktop\\daily-website-visitors.csv"
df=spark.read.csv(file_path,header=True,inferSchema=True)

df=df.withColumnsRenamed({"Day.Of.Week":"Day_Of_Week","Page.Loads":"Page_Loads",
                          "Unique.Visits":"Unique_Visits","First.Time.Visits":"First_Time_Visits",
                          "Returning.Visits":"Returning_Visits"})

df.show()

+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row|      Day|Day_Of_Week|      Date|Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
|  1|   Sunday|          1| 9/14/2014|      2146|         1582|             1430|             152|
|  2|   Monday|          2| 9/15/2014|      3621|         2528|             2297|             231|
|  3|  Tuesday|          3| 9/16/2014|      3698|         2630|             2352|             278|
|  4|Wednesday|          4| 9/17/2014|      3667|         2614|             2327|             287|
|  5| Thursday|          5| 9/18/2014|      3316|         2366|             2130|             236|
|  6|   Friday|          6| 9/19/2014|      2815|         1863|             1622|             241|
|  7| Saturday|          7| 9/20/2014|      1658|         1118|              985|             133|
|  8|   Sunday|          1| 9/21/2014|      2288|         1656|             1481|             175|
|  9|   Monday|          2| 9/22/2014|      3638|         2586|             2312|             274|
| 10|  Tuesday|          3| 9/23/2014|      4462|         3257|             2989|             268|
| 11|Wednesday|          4| 9/24/2014|      4414|         3175|             2891|             284|
| 12| Thursday|          5| 9/25/2014|      4315|         3029|             2743|             286|
| 13|   Friday|          6| 9/26/2014|      3323|         2249|             2033|             216|
| 14| Saturday|          7| 9/27/2014|      1656|         1180|             1040|             140|
| 15|   Sunday|          1| 9/28/2014|      2465|         1806|             1613|             193|
| 16|   Monday|          2| 9/29/2014|      4096|         2873|             2577|             296|
| 17|  Tuesday|          3| 9/30/2014|      4474|         3032|             2720|             312|
| 18|Wednesday|          4|10-01-2014|      4124|         2849|             2541|             308|
| 19| Thursday|          5|10-02-2014|      3514|         2489|             2239|             250|
| 20|   Friday|          6|10-03-2014|      3005|         2097|             1856|             241|
+---+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

In [11]:
df.count()

2167

# 1. Get Distinct Rows(By comparing All Columns)

In [10]:
distictDF= df.distinct()
print("Distict Count: "+str(distictDF.count()))
distictDF.show(truncate=False)

Distict Count: 2167
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row |Day      |Day_Of_Week|Date      |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
|294 |Saturday |7          |07-04-2015|1602      |1104         |900              |204             |
|721 |Saturday |7          |09-03-2016|1966      |1376         |1101             |275             |
|1180|Wednesday|4          |12-06-2017|4595      |3452         |2766             |686             |
|1333|Tuesday  |3          |05-08-2018|6702      |4577         |3700             |877             |
|1420|Friday   |6          |08-03-2018|3405      |2345         |1833             |512             |
|1550|Tuesday  |3          |12-11-2018|7659      |5267         |4330             |937             |
|1942|Tuesday  |3          |01-07-2020|3760      |2915         |2492             |423             |
|190 |Sunday   |1          |3/22/2015 |3791      |2786         |2388             |398             |
|246 |Sunday   |1          |5/17/2015 |3336      |2376         |1988             |388             |
|359 |Monday   |2          |09-07-2015|3330      |2354         |1963             |391             |
|446 |Thursday |5          |12-03-2015|6160      |4584         |3835             |749             |
|535 |Tuesday  |3          |03-01-2016|6214      |4474         |3731             |743             |
|621 |Thursday |5          |5/26/2016 |5652      |4119         |3385             |734             |
|912 |Monday   |2          |3/13/2017 |4746      |3367         |2721             |646             |
|1173|Wednesday|4          |11/29/2017|4555      |3484         |2824             |660             |
|1237|Thursday |5          |02-01-2018|4723      |3164         |2571             |593             |
|1875|Friday   |6          |11-01-2019|4054      |3010         |2604             |406             |
|2061|Tuesday  |3          |05-05-2020|6361      |4900         |4169             |731             |
|2090|Wednesday|4          |06-03-2020|4994      |3869         |3239             |630             |
|54  |Thursday |5          |11-06-2014|4178      |3034         |2627             |407             |
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

`distict()` function on DataFrame returns a new DataFrame after removing the duplicate records.

Alternatively, use `dropDuplicates()` function which return a new dataframe after removing duplicate rows.

In [12]:
df2=df.dropDuplicates()
print("Distinct count: "+str(df2.count()))
df2.show(truncate=False)

Distinct count: 2167
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
|Row |Day      |Day_Of_Week|Date      |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
|294 |Saturday |7          |07-04-2015|1602      |1104         |900              |204             |
|721 |Saturday |7          |09-03-2016|1966      |1376         |1101             |275             |
|1180|Wednesday|4          |12-06-2017|4595      |3452         |2766             |686             |
|1333|Tuesday  |3          |05-08-2018|6702      |4577         |3700             |877             |
|1420|Friday   |6          |08-03-2018|3405      |2345         |1833             |512             |
|1550|Tuesday  |3          |12-11-2018|7659      |5267         |4330             |937             |
|1942|Tuesday  |3          |01-07-2020|3760      |2915         |2492             |423             |
|190 |Sunday   |1          |3/22/2015 |3791      |2786         |2388             |398             |
|246 |Sunday   |1          |5/17/2015 |3336      |2376         |1988             |388             |
|359 |Monday   |2          |09-07-2015|3330      |2354         |1963             |391             |
|446 |Thursday |5          |12-03-2015|6160      |4584         |3835             |749             |
|535 |Tuesday  |3          |03-01-2016|6214      |4474         |3731             |743             |
|621 |Thursday |5          |5/26/2016 |5652      |4119         |3385             |734             |
|912 |Monday   |2          |3/13/2017 |4746      |3367         |2721             |646             |
|1173|Wednesday|4          |11/29/2017|4555      |3484         |2824             |660             |
|1237|Thursday |5          |02-01-2018|4723      |3164         |2571             |593             |
|1875|Friday   |6          |11-01-2019|4054      |3010         |2604             |406             |
|2061|Tuesday  |3          |05-05-2020|6361      |4900         |4169             |731             |
|2090|Wednesday|4          |06-03-2020|4994      |3869         |3239             |630             |
|54  |Thursday |5          |11-06-2014|4178      |3034         |2627             |407             |
+----+---------+-----------+----------+----------+-------------+-----------------+----------------+
only showing top 20 rows

# 2. PySpark Distinct of Selected Multiple Columns

In [13]:
dropDistictDF= df.dropDuplicates(["Day","Day_Of_Week"])
print("Distinct count of department & salary : "+str(dropDistictDF.count()))
dropDistictDF.show(truncate=False)

Distinct count of department & salary : 7
+---+---------+-----------+---------+----------+-------------+-----------------+----------------+
|Row|Day      |Day_Of_Week|Date     |Page_Loads|Unique_Visits|First_Time_Visits|Returning_Visits|
+---+---------+-----------+---------+----------+-------------+-----------------+----------------+
|6  |Friday   |6          |9/19/2014|2815      |1863         |1622             |241             |
|2  |Monday   |2          |9/15/2014|3621      |2528         |2297             |231             |
|7  |Saturday |7          |9/20/2014|1658      |1118         |985              |133             |
|1  |Sunday   |1          |9/14/2014|2146      |1582         |1430             |152             |
|5  |Thursday |5          |9/18/2014|3316      |2366         |2130             |236             |
|3  |Tuesday  |3          |9/16/2014|3698      |2630         |2352             |278             |
|4  |Wednesday|4          |9/17/2014|3667      |2614         |2327             |287             |
+---+---------+-----------+---------+----------+-------------+-----------------+----------------+